<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Организатор турнира - Добавление результатов</title>
</head>
<body>

<div class="container">
    <h2>Организатор турнира - Добавление результатов</h2>
    <form action="обработчик_результатов" method="post">
        <!--id="resultsForm" onsubmit="return debugForm()"-->

        <!-- Поле Участник 1 -->
        <div class="form-group">
            <label for="participant1">Участник 1:</label>
            <select id="participant1" name="participant1" required>
                {{range .Participants}}
                <option value="{{.FIO}}">{{.FIO}}</option>
                {{end}}
            </select>
        </div>

        <!-- Поле Баллы для Участника 1 -->
        <div class="form-group">
            <label for="pointsParticipant1">Баллы для Участника 1:</label>
            <select id="pointsParticipant1" name="pointsParticipant1" required>
                <option value="0.0">0.0</option>
                <option value="0.5">0.5</option>
                <option value="1.0">1.0</option>
            </select>
        </div>

        <!-- Поле Участник 2 -->
        <div class="form-group">
            <label for="participant2">Участник 2:</label>
            <select id="participant2" name="participant2" required>
                {{range .Participants}}
                <option value="{{.FIO}}">{{.FIO}}</option>
                {{end}}
            </select>
        </div>

        <!-- Поле Баллы для Участника 2 -->
        <div class="form-group">
            <label for="pointsParticipant2">Баллы для Участника 2:</label>
            <select id="pointsParticipant2" name="pointsParticipant2" required>
                <option value="0.0">0.0</option>
                <option value="0.5">0.5</option>
                <option value="1.0">1.0</option>
            </select>
        </div>

        <!-- Кнопка отправки формы -->
        <div class="form-group">
            <input type="submit" value="Добавить результаты">
        </div>

    </form>
</div>

<!--<script>
    // Дебаг формы
    function debugForm() {
        console.log("participant1 value:", document.getElementById('participant1').value);
        console.log("pointsParticipant1 value:", document.getElementById('pointsParticipant1').value);
        console.log("participant2 value:", document.getElementById('participant2').value);
        console.log("pointsParticipant2 value:", document.getElementById('pointsParticipant2').value);
        return true; // чтобы форма продолжила отправку
    }

    // Отмена автоматического обновления страницы сразу после нажатия кнопки
    // Данные в ide теперь прилетают после ручного обновления страницы
    document.getElementById('resultsForm').addEventListener('submit', function(event) {

        // Предотвращаем стандартное поведение формы
        event.preventDefault();
    });

</script>-->

</body>
</html>
