<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Результаты турнира по шахматам</title>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var position = 1;
            var rows = document.querySelectorAll('.results-table tbody tr');

            rows.forEach(function(row) {
                var cells = row.getElementsByTagName('td');
                cells[2].textContent = position++;

                // Apply classes based on position
                if (position === 2) {
                    row.classList.add('gold');
                } else if (position === 3) {
                    row.classList.add('silver');
                } else if (position === 4) {
                    row.classList.add('bronze');
                }
            });
        });
    </script>

</head>
<body>

<div class="container">
    <h2>Результаты турнира по шахматам - Умеющие играть</h2>
    <table class="results-table">
        <thead>
        <tr>
            <th>Имя участника</th>
            <th>Набранные очки</th>
            <th>Место</th>
        </tr>
        </thead>

        <tbody>
        {{ range $index, $element := .PointsData }}
        <tr>
            <td>{{ $element.ParticipantFIO }}</td>
            <td>{{ $element.Points }}</td>
            <td>{{ $index }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

</body>
</html>
